.page-header {
    margin: 0;
    padding: 23px;
    background: #d32323;
}

.logo {
    margin-top: -5px;
    position: absolute;
}

.field-search{
    background: #fff;
    position: relative;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 48%;
}

.field-label{
    padding-bottom: 3px;
}

.arrange-header {
    padding-left: 9%;
    padding-bottom: 7px;
    margin-top: -10px;
}

.links{
    padding: 0px;
    margin-bottom: -100%;
}

ul {
    list-style: none;
}

.main-menu{

}
.main-menu, .menu-list{
    display: inline-block;
}

.a-menu{
    border-radius: 3px;
    color: #fff;
    display: block;
    padding: 0 8px;
    font-size: 13px;
    font-weight: bold;
    line-height: 21px;
}

.a-menu:hover{
    background-color: darkred;
}
.push{
    margin-left: -25px;
    margin-top: 5px;
}

.btn-style{
    border-color: black;
    font-weight: bold;
}
.btn-style:hover{
    border-color: black;
}